{% extends "system_state/insight_base.j2" %}
{% set insight_title = "Form Pattern at " + url %}
{% block insight_content %}
**Elements:** {{ elements|length }} form elements
**Context:** {{ action }}
{% endblock %}
