{% extends "system_state/insight_base.j2" %}
{% set insight_title = title %}
{% block insight_content %}
**URL:** {{ url }}
**Description:** {{ description }}
**Elements:** {{ elements_count }} total
{% endblock %}
